In [1]:
# Setting up the connection
import mysql.connector as connector
connection = connector.connect(user = "Jason", password = "password", db = "littlelemondb") 
cursor = connection.cursor()

In [2]:
# Testing the connection
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
result = cursor.fetchall()
print(result)

[('bookings',), ('customers',), ('menu',), ('order_delivery_status',), ('orders',), ('ordersview',), ('staff_information',)]

In [3]:
# Creating the promotion query, note due to my tables relations I have to JOIN twice, also I sum my orders with a temporary table
promotion = """
WITH Sum_Table AS (
SELECT SUM(Total_Cost) AS Order_Cost, Booking_ID
FROM Orders
GROUP BY Booking_ID
)

SELECT Customers.Customer_Name, Customers.Contact_Number, Customers.Email, Sum_Table.Order_Cost
FROM Customers
INNER JOIN Bookings ON Customers.Customer_ID = Bookings.Booking_ID
INNER JOIN Sum_Table ON Bookings.Booking_ID = Sum_Table.Booking_ID
WHERE Sum_Table.Order_Cost > 60
ORDER BY Sum_Table.Order_Cost;"""
cursor.execute(promotion)
results = cursor.fetchall()
print(cursor.column_names)
for result in results:
    print(result)

('Customer_Name', 'Contact_Number', 'Email', 'Order_Cost')
('Adam Goldberg', '555-555-0987', 'AdamGold@email.com', Decimal('65.00'))
('John Doe', '555-555-1234', 'JohnDoe@email.com', Decimal('75.00'))
('Brian Kennedy', '555-555-9876', 'BKennedy@email.com', Decimal('83.00'))
('Jane Smith', '555-555-8765', 'JaneSmith@email.com', Decimal('89.00'))
('Nala Albertson', '555-555-0222', 'NAlbertson@email.com', Decimal('90.00'))
('Stacy Fox', '555-555-0123', 'Sfox@email.com', Decimal('145.50'))